/* .color1 {color: #d2e162;}
.color2 {color: #fbd68d;}
.color3 {color: #00117e;}
.color4 {color: #005bb5;}
.color5 {color: #6db6ec;} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tinos', serif;
}

body {
    background-color: #E5E5E5;
}

main, footer div{
    max-width: 1024px;
    margin: 2em auto;
}

header{
    background-color: #005bb5;
    display: flex;
    justify-content: center;
}

.icon{
    width: 100px;
}

main {
    display: flex;
    justify-content: space-between;
    gap:5%;
}

.caja-texto {
    width: 60%;
}

button {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #005bb5;
    transition: 0.2s background-color;
    color: #fbd68d;
}

button:hover {
    background-color: #fbd68d;
    color: #00117e;
}

button:active {
    transform: scale(1.01);
}

.caja-texto button {
    margin-right: 1em;
    width: 50%;
}

.caja-texto textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
}

.caja-texto textarea::placeholder,
textarea {
    font-size: 2rem;
    line-height: 150%;
}

.caja-texto textarea + p {
    margin-top: 1.8em;
    font-size: 0.85em;
    color: red;
}

.caja-texto div {
    display: flex;
}

.resultado {
    background-color: #d2e162;
    color: #00117e;
    width: 30%;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 20px;
    height: 30em;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.encontrado button {
    width: 100%;
}

.no-encontrado h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em 0;
}

.no-encontrado img{
    width: 100%;
}

footer {
    background-color: #6db6ec;
    color: #00117e;
    padding: 0.5em 2em;
    display: flex;
    align-items: center;
}

.redes{
    margin-left: 0.5em;
    width: 2em;
    color: #00117e;
}

.redes-icons i{
    font-size: 3em;
}

.oculto {
    display: none;
}

@media screen and (max-width: 800px){
    body{
        overflow: auto;
    }
    
    main{
    display: block;
    padding: 0 2em;
    }

    .caja-texto, .resultado{
        width: 100%;
        margin: 3em auto;
    }

    .no-encontrado img{
        display: none;
    }

    footer{
        padding: 1em;
        display: flex;
    }

    .redes{
        margin-top: 2em;
       
    }

}

@media screen and (max-width: 450px){
    .caja-texto div{
    display: block;
    }

    .caja-texto button {
        width: 100%;
    }

    footer{
        flex-direction: column;
    }

    .redes{
        display: contents;
    }
}